body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: lightblue;
}

.App {
  text-align: center;
}

.SignupBox {
  background: lightgreen;
  padding: 0.5em;
}

.LoginBox {
  background: lightblue;
  padding: 0.5em;
}

.LogoutBox {
  background: lightred;
  padding: 0.5em;
}

.title {
  font-family: 'Exo 2', sans-serif;
}

.card {
  display: inline-block;
  background-color: rgb(226, 220, 220);
}

.routes {
  width: 20rem;
}
.descriptions {
  width: 30rem
}

.navbar {
  font-family: 'Exo 2', sans-serif;
  background-color: lightblue;
}

.search-box {
  width: 70%;
  display: block;
  border: 3px;
  margin: auto;

}