.App {
  text-align: center;
}

.SignupBox {
  background: lightgreen;
  padding: 0.5em;
}

.LoginBox {
  background: lightblue;
  padding: 0.5em;
}

.LogoutBox {
  background: lightred;
  padding: 0.5em;
}

.title {
  font-family: 'Vollkorn SC', serif;
}

.card {
  display: inline-block;
}

.routes {
  width: 20rem;
}
.descriptions {
  width: 30rem
}